<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Inside of new.ejs</p>
<form action="/" method="post">
    <h1>Please enter your information below</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name...">
    <label for="color">Color</label>
    <input type="text" name="color" placeholder="Color...">
    <label for="weight">weight</label>
    <input type="text" name="weight" placeholder="weight...">
    <button>Submit</button>
</form>
</body>
</html>